<div>
    <div>
        <img src="" alt="">
        <p>
            Cambia tus dolares y soles al instante!
        </p>
    </div>
    <div>
        <p>Venta: S/. 3.72000</p>
        <p>Compra: S/. 3.72965</p>
    </div>
    <div>
        <div>
            <span>
                Tienes
            </span>
            <input type="text">
            <span>
                Dólares
            </span>
        </div>
        <button>
            <img src="" alt="">
        </button>
        <div>
            <span>
                Recibes
            </span>
            <input type="text">
            <span>
                Soles
            </span>
        </div>
    </div>
</div>