<div class="calc">
    <div class="calc-header">
        <img src="./assets/-logo.png" alt="MiBango_Logo">
        <p>
            Cambia tus dolares y soles al instante
        </p>
    </div>
    <app-tasas currency="{{initBaseCurrency}}" currencySellValue="{{currency}}"></app-tasas>
    <div>
        <div>
            <span class="tag-text">
                Tienes
            </span>
            <input [(ngModel)]="initValue" type="text" class="inputBox" type="number">
            <span class="exchange-text">
                {{initBaseCurrency}}
            </span>
        </div>
        <!--app-input-box tag="{{'Tienes'}}" currencyText="{{'Dolares'}}" valueQty="{{initValue}}"></app-input-box-->
        <div class="calc-button">
            <img src="./assets/arrows.png" alt="Intercambiar_Logo" (click)="changeCurrency()">
        </div>
        <!--app-input-box tag="{{'Recibes'}}" currencyText="{{'Soles'}}" valueQty="{{changeValue}}"></app-input-box-->
        <div>
            <span class="tag-text">
                Recibes
            </span>
            <input [(ngModel)]="changeValue" type="text" class="inputBox" type="number" value="{{initValue*currency}}">
            <span class="exchange-text">
                {{initChangeCurrency}}
            </span>
        </div>
    </div>
</div>