<div class="calc">
    <div class="calc-header">
        <img src="./assets/-logo.png" alt="MiBango_Logo">
        <p>
            Cambia tus dolares y soles al instante
        </p>
    </div>
    <app-tasas></app-tasas>
    <div>
        <app-input-box tag="{{'Tienes'}}" currency="{{'Dolares'}}"></app-input-box>
        <div class="calc-button">
            <img src="./assets/arrows.png" alt="Intercambiar_Logo">
        </div>
        <app-input-box tag="{{'Recibes'}}" currency="{{'Soles'}}"></app-input-box>
    </div>
</div>