<section class="footer">
    <div class="footer__firstContent">
        <img class="footer__firstContent-logoImg" src="./assets/mibancolab_logo.png" alt="MiBancoLab_Logo">
        <p>© 2024 MibancoLab - Todos los derechos reservados</p>
        <p>MIBANCO - BANCO DE LA MICROEMPRESA S.A.</p>
        <p>RUC 20382036655</p>
    </div>
    <div class="footer__midContent">
        <div>
            <p>Nuevos Lanzamientos</p>
            <p>Solicita tu préstamo Mi Efectivo Semilla</p>
            <p>Juntas</p>
            <p>Academia del Progreso</p>
        </div>
        <div>
            <p>Productos Mibanco</p>
            <p>Calcula Tipo de Cambio</p>
            <p>Solicita tu préstamo</p>
            <p>Apertura una cuenta de ahorro</p>
        </div>
        <div>
            <p>Acerca de MibancoLab</p>
            <p>¿Tienes dudas?</p>
            <p>Contáctanos</p>
            <p>Términos y Condiciones</p>
            <p>Política de Cookies</p>
        </div>
    </div>
    <div class="footer__lastContent">
        <img src="./assets/libroreclamaciones_icon.png" alt="Libro_Reclamaciones">
        <span>Libro de reclamaciones</span>
    </div>
</section>