@import '../../constants/colors.scss';
@import '../../constants/styles.scss';

.header{
    padding: 16px 132px;
    background-color: $mibanco_green;
    @extend %dsp-flx-sb-c;
    
    @media (max-width: 768px) {
        padding: 16px ;
        
    }
    @media (max-width: 425px) {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__logoImg{
        width: 134px;
    }
    &__indexButton{
        cursor: pointer;
        padding: 16px 29px;
        border: 1px solid $white;
        border-radius: 24px;
        &-button{
            @extend %dsp-flx-sb-c;
            font-size: 14px;
            color: $white;
            img{
                height: 18px;
            }
        }
        
    }
}