.tasas{
    padding: 10px 0px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
        font-size: 18px;
        text-transform: uppercase;
    }
    @media (max-width: 768px) {
        text-align: center;
    }
}