.calc{
    padding: 64px 0px;
    @media (max-width: 768px) {
        padding: 64px 16px;
    }
    &__table{
        padding: 30px 20px;
        border: 2px solid #00A64F;
        border-radius: 20px;
        width: 600px;
        margin: auto;
        @media (max-width: 768px) {
            width: auto;
        }
        &-header{
            align-items: center;
            display: flex;
            justify-content: space-between;
            @media (max-width: 768px) {
                flex-direction: column;
                gap: 24px;
                &img{
                    height: 64px;
                } 
            }
        }
        &-button{
            text-align: right;
            margin: 20px 35px;
            @media (max-width: 768px) {
                text-align: center;
            }
            & img{
                border-radius: 100px;
                transition: 0.5s;
                height: 85px;
            }
            & img:hover{
                box-shadow: 0px 4px 13px -4px;
                transition: 0.5s;
                cursor: pointer;
            }
        }
    }
}
.inputData{
    text-align: right;
    margin: 10px 30px;
}
.tag-text{
    text-transform: uppercase;
    position: absolute;
    font-size: 16px;
    margin-left: 50px;
    background-color: #f3c90e;
    padding: 8px 35px;
    border-radius: 3px;
    text-align: center;
    color: white;
}
.inputBox{
    box-sizing: border-box;
    border: 0px;
    background-color: #E5F6EB;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    font-size: 18px;
    border-radius: 10px;
    min-height: 25px;
    padding: 20px 110px 20px 15px;
    margin-top: 20px;
    text-align: right;
}
input:focus{
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.exchange-text{
    position: relative;
    right: -15px;
    top: -44px;
    margin-top: 42px;
    font-size: 20px;
    margin-right: 45px;
}