<section class="calc">
    <div class="calc__table">
        <div class="calc__table-header">
            <img src="./assets/-logo.png" alt="MiBango_Logo">
            <p>
                Cambia tu dinero al instante
            </p>
        </div>
        <app-tasas currency="{{baseCurrencySymbol}}" currencySellValue="{{currency}}"></app-tasas>
        <app-tipoCambio (newBaseCurrency)="onSelectedCurrent($event)" (newConvertCurrency)="onSelectedToConvert($event)" baseCurrency="{{initBaseCurrency}}" convertCurrency="{{initChangeCurrency}}"></app-tipoCambio>
        <div>
            <div class="inputData">
                <span class="tag-text">
                    Tienes
                </span>
                <input [(ngModel)]="initValue" type="text" class="inputBox" type="number" value="{{initValue}}">
                <span class="exchange-text">
                    {{initBaseCurrency}}
                </span>
            </div>
            <div class="calc__table-button">
                <img src="./assets/arrows.png" alt="Intercambiar_Logo" (click)="changeCurrency()">
            </div>
            <div class="inputData">
                <span class="tag-text">
                    Recibes
                </span>
                <input [(ngModel)]="changeValue" type="text" class="inputBox" type="number" value="{{(initValue*currency).toFixed(10)}}">
                <span class="exchange-text">
                    {{initChangeCurrency}}
                </span>
            </div>
        </div>
    </div>
</section>